@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html,body { min-height: 100%; width: 100%; }

body{
    background-color:black
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
  }
  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  }

  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  }

  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 40px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 80px;
    font-weight: bolder;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }


