@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Thasadith&display=swap');

/*
@keyframes floaty {
	0% { transform: translate(0,  0px); }
	50%  { transform: translate(0, 20px); }
	100%   { transform: translate(0, -0px); }
}   animation: floaty 3s infinite ease-in-out;
*/

html,body { display: flex; flex-direction: column; }

html{height: 100%;}

body{
    background-color:black;
    flex-grow: 1;
    margin: 0;
}

/* old background image
.bg{
    background-image: url("https://github.com/luckidyck/wxd.github.io/blob/main/back_ground.jpg?raw=true") ;
    background-size:cover;
    background-attachment:fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
*/

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

/* filter blur
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    backdrop-filter: blur(10px);
}
*/

.wxd{
    color: white;
    font-family: 'Rancho';
    font-size: 280px;
    margin: 1px;
    padding: 1px;
    letter-spacing: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

